/*////////////////////////////////////////////////////////////////////////////////
// App.css
// Styles the App.js components
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////*/

@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: Montserrat-ExtraLight;
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold;
}

/*////////////////////////////////////////////////////////////////////////////////
// Main Styles
////////////////////////////////////////////////////////////////////////////////*/

.FlexBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Main {
  min-height: 100vh;
  font-size: calc(30px + 2vmin);
  background-color: #F5F5F5;
  color: #252525;
}

.Button {
  background-color: #252525;
  border-color: #252525;
  color: #ffffff;
  font-family: "Montserrat-Bold";
  text-align: center;
  border-radius: 7px;
}

.Button:focus {
  background-color: rgb(87, 87, 87);
  outline: none !important;
}

.Title {
  font-family: "Montserrat-Bold";
  text-align: center;
  color: #252525;
}

.Text {
  font-family: "Montserrat-ExtraLight";
  text-align: center;
  color: #252525;
}

/*////////////////////////////////////////////////////////////////////////////////
// App.js styles
////////////////////////////////////////////////////////////////////////////////*/

.Sub_main {
  min-width: 70vmin;
  background-color: rgb(250, 250, 250);
}

.Name {
  margin-bottom: 0;
}

.Profile {
  width: 70vmin;
}

.Typewriter {
  font-family: "Montserrat-ExtraLight";
  margin-bottom: 4vmin;
  margin-top: 1vmin;
  font-size: calc(3vmin);
  color: #252525;
}

.Div_margin {
  margin: -1vmin;
}

.Main_button {
  width: calc(70px + 10vmin);
  height: calc(30px + 2vmin);
  font-size: calc(10px + 0.5vmin);
}

/*////////////////////////////////////////////////////////////////////////////////
// Resume.js styles
////////////////////////////////////////////////////////////////////////////////*/

.Paragraph {
  font-size: calc(10px + 1vmin);
  margin-bottom: 0;
}

.Info {
  font-size: calc(8px + 1vmin);
  margin-top: 0;
}

/*////////////////////////////////////////////////////////////////////////////////
// Project.js styles
////////////////////////////////////////////////////////////////////////////////*/

.Banner {
  width: 100vw;
  height: 20vh;
  background-color: #ffffff;
  font-family: "Montserrat-Bold";
}

.Header {
  margin-bottom: 10px;
}

.Portfolio_paragraph {
  font-size: calc(10px + 1vmin);
}

.Main_slot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100vw;
}

.Sub_slot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  border-color: #252525;
  border-width: 10px;
  background-color: #7e74aa;
}

@media only screen and (max-width: 900px) { 
  .Sub_slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    background-color: #ac3d3d;
  }
}

/*////////////////////////////////////////////////////////////////////////////////
// Notfound.js styles
////////////////////////////////////////////////////////////////////////////////*/

.Error {
  font-size: calc(20px + 2vmin);
}

/*////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////*/

@media (prefers-reduced-motion: no-preference) {
  .Main {animation: FadeIn 1s;}
  .Button:hover {animation: HoverEffect 0.5s forwards;}
  .Header {animation: SlideIn 2s;}
  .Portfolio_paragraph {animation: SlideInDelay 4s;}
}

@keyframes FadeIn {
  from {opacity: 0;}   
  to {opacity: 1;}
}

@keyframes HoverEffect {
  from {transform: scale(1);}
  to {transform: scale(1.01);}
}

@keyframes SlideIn {
  from {opacity: 0;}
  50% {opacity: 0; transform: translateY(20px)}
  to {transform: translateY(0px);}
}

@keyframes SlideInDelay {
  from {opacity: 0;}
  50% {opacity: 0; transform: translateY(30px)}
  to {transform: translateY(0px);}
}