/*////////////////////////////////////////////////////////////////////////////////
// Projects.css
// Styles the Projects.js components
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Style
////////////////////////////////////////////////////////////////////////////////*/

.Project_main {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  background-color: #F5F5F5;
}

.Header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Montserrat-Bold";
}

/*////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////*/

@media (prefers-reduced-motion: no-preference) {
  .Project_main {
    animation: FadeIn 1s;
  }
}

@keyframes FadeIn {
  from {opacity: 0;}   
  to {opacity: 1;}
}