/*////////////////////////////////////////////////////////////////////////////////
// Projects.css
// Styles the Projects.js components
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Style
////////////////////////////////////////////////////////////////////////////////*/

.Main {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
  }
    
  /*////////////////////////////////////////////////////////////////////////////////
  // Animations
  ////////////////////////////////////////////////////////////////////////////////*/
  
  @media (prefers-reduced-motion: no-preference) {
    .Main {
      animation: FadeIn 1s;
    }
  }
  
  @keyframes FadeIn {
    from {opacity: 0;}   
    to {opacity: 1;}
  }