/*////////////////////////////////////////////////////////////////////////////////
// App.css
// Styles the App.js components
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////*/

@font-face {
  src: url(fonts/Montserrat-ExtraLight.ttf);
  font-family: Montserrat-ExtraLight;
}

@font-face {
  src: url(fonts/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold;
}

/*////////////////////////////////////////////////////////////////////////////////
// Style
////////////////////////////////////////////////////////////////////////////////*/

.Main_app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
}

.Sub_main {
  flex-direction: column;
  min-height: 100vh;
  min-width: 70vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.Name {
  font-family: "Montserrat-Bold";
  color: #252525;
  margin-bottom: 0;
}

.Profile {
  width: 70vmin;
  /* pointer-events: none; */
}

.Typewriter {
  font-family: "Montserrat-ExtraLight";
  margin-bottom: 4vmin;
  margin-top: 1vmin;
  font-size: calc(3vmin);
  color: #252525;
}

.Button {
  width: calc(70px + 10vmin);
  height: calc(30px + 2vmin);
  background-color: #252525;
  border-color: #252525;
  color: #ffffff;
  font-size: calc(5px + 1vmin);
  font-family: "Montserrat-Bold";
  text-align: center;
}

.Button:focus {
  border-color: #ffffff;
  outline: none !important;
}

.Div_margin {
  margin: -1vmin;
}

/*////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////*/

@media (prefers-reduced-motion: no-preference) {
  .Name {animation: Bounce 2.5s;}
  .Button {animation: infinite Tremor 3s;}
  .Profile {animation: FadeIn 1s linear;  }
  .Main {animation: FadeIn 1s linear;  }
}

@keyframes Spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes Tremor {
  80% {transform:translateY(1px);}
  83% {transform:translateY(-1px);}
  86% {transform:translateY(0.5px);}
  89% {transform:translateY(-0.5px);}
  92% {transform:translateY(0px);}
}

@keyframes Bounce {
  0% {transform:translateY(20px);}
  10% {transform: rotate(10deg);}
  15% {transform: rotate(-10deg);}
  20% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  100% {transform:translateY(0px);}
}

@keyframes FadeIn {
  from {opacity: 0;}   
  to {opacity: 1;}
}