/*////////////////////////////////////////////////////////////////////////////////
// App.css
// Styles the App.js components
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////*/

@font-face {
  src: url(fonts/Montserrat-ExtraLight.ttf);
  font-family: Montserrat-ExtraLight;
}

@font-face {
  src: url(fonts/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold;
}

/*////////////////////////////////////////////////////////////////////////////////
// Style
////////////////////////////////////////////////////////////////////////////////*/

.Main_app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
}

.Sub_main {
  flex-direction: column;
  min-height: 100vh;
  min-width: 70vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.Name {
  font-family: "Montserrat-Bold";
  color: #252525;
  margin-bottom: 0;
}

.Profile {
  width: 70vmin;
  /* pointer-events: none; */
}

.Typewriter {
  font-family: "Montserrat-ExtraLight";
  margin-bottom: 4vmin;
  margin-top: 1vmin;
  font-size: calc(3vmin);
  color: #252525;
}

.Button {
  width: calc(70px + 10vmin);
  height: calc(30px + 2vmin);
  background-color: #252525;
  border-color: #252525;
  color: #ffffff;
  font-size: calc(5px + 1vmin);
  font-family: "Montserrat-Bold";
  text-align: center;
}

.Button:focus {
  background-color: rgb(87, 87, 87);
  border-color: rgb(87, 87, 87);
  border-width: 3px; 
  outline: none !important;
}

.Button:hover {
  background-color: rgb(87, 87, 87);;
}

.Div_margin {
  margin: -1vmin;
}

/*////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////*/

@media (prefers-reduced-motion: no-preference) {
  .Main_app {animation: FadeIn 1s;}
  .Button:hover {animation: FadeIn 1.5s;}
}

@keyframes FadeIn {
  from {opacity: 0;}   
  to {opacity: 1;}
}